.contato-bg {
    background: linear-gradient(to top, var(--cor-branco) 50%, var(--cor-preto1) 0%);
}
.contato {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    
}
.loja-lista {
    padding-left: 24px;
}
.loja-lista li img {
    margin-left: -28px;
    padding-right: 8px;
}
.loja {
    display: flex;
    flex-direction: column;
    padding: 60px;
}
.loja h2 {
    margin-bottom: 60px;
}
.loja-lista .l-f {
    display: flex;
    
}
.loja .l-1 {
    margin-bottom: 30px;
}
.loja .l-1:last-child {
    margin-bottom: 60px;
}
.contato-formulario {
    padding: 60px;
    background-color: #fff;
}
.form {
    color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.form label {
    display: block;
    font: 400 1rem/1.5 "Poppins", sans-serif;
    margin-bottom: 4px;
}
.form .col-2 {
    grid-column: span 2;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  background: var(--cor-c-white);
  border: 1px solid var(--cor-c-claro);
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  outline: none;
  border-color: var(--cor-p1);
  background: var(--cor-0);
  box-shadow: 0 0 0 2px #fea;
}
