.bicicletas-bg {
    background: linear-gradient(to right, var(--cor-branco) 30%, var(--cor-preto1) 0%);
}

.bicicletas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.bicicletas-img{
    display: grid;
}

.bicicletas-img img {
    grid-area: 1/1;
}

.bicicletas-img span {
    display: inline-block;
    grid-area: 1/1;
    background-color: #000000;
    color: #ffffff;
    place-self: start end;
    padding: 8px 8px 8px 16px;
    margin-top: 20px;
    border-radius: 4px 0 0 4px;
}

.bicicleta-conteudo {
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: start;
}

.bicicleta-conteudo h2, .bicicleta-conteudo p {
    grid-column: 1/-1;
}

.bicicleta-conteudo h2 {
    margin-bottom: 20px;
}

.bicicletas h2::before {
    content: "";
    display: block;
    width: 12px;
    height: 8px;
    background-color: var(--cor-yellow);
    margin-bottom: 8px;
  }

.bicicleta-conteudo p {
    margin-bottom: 32px;
}

.bicicletas a {
    place-self: end;
}

.bicicletas li {
    display: flex;
    align-items: center;
}

.bicicletas ul {
    display: grid;
    
}

.bicicleta-conteudo img {
    width: 24px;
    margin-right: 16px;
}

.botao.seta::after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 10px;
    margin-left: 12px;
    background: url(../../img/icones/seta.svg);
    transition: transform 0.2s;
}

.botao.seta {
    display: flex;
    align-items: center;
}

@media (max-width: 800px) {
    .bicicletas {
        grid-template-columns: 1fr;
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .bicicletas-bg {
        background: var(--cor-preto1);
    }
}

@media (max-width: 600px) {
    .bicicleta-conteudo {
        font-size: 1rem;
        grid-template-columns: 1fr;
    }

    .bicicleta-conteudo ul {
        grid-template-columns: 1fr 1fr;
    }

    .bicicleta-conteudo a {
        place-self: start;
    }
}