:root {
    --cor-yellow: #ffbb00;
    --cor-branco: #ffffff;
}

.cor-y {
    color:#ffbb00;
}

.cor-cinza {
    color: #595959;
}

.cor-c-clara {
    color: #b2b2b2;
}

.cor-branca {
    color: #ffffff;
}

.cor-preta {
    background-color: #000000;
}

