:root {
    --cor-yellow: #ffbb00;
    --cor-yellow1: #e4a30a;
    --cor-yellow2: #664400;
    --cor-yellow3: #332200;
    --cor-branco: #ffffff;
    --cor-preto: #000000;
    --cor-preto1: #111111;
    --cor-c-claro: #b2b2b2;
    --cor-c-white: #ededed;
}

.cor-y {
    color:#ffbb00;
}

.cor-y2 {
    color: #664400;;
}

.cor-y3 {
    color: #332200;;
}

.cor-p1 {
    color: #111111;
}

.cor-p2 {
    color: #404040;
}

.cor-cinza {
    color: #595959;
}

.cor-c1 {
    color: #b2b2b2;
}

.cor-c2 {
    color: #9c9c9c;
}

.cor-c3 {
    color: #2e2e2e;
}

.cor-branca {
    color: #ffffff;
}

.cor-preta {
    background-color: #000000;
}

