.vantagens-bg {
    background-color: #000000;
    color: #ffffff;
    padding-top: 60px;
    padding-bottom: 60px;
}

.vantagens h2 {
    margin-bottom: 60px;
}

.vantagens-lista {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(280px, max-content));
    gap: 40px 80px;
}

.vantagens-lista h3 {
    font-size: 24px;
}

.vantagens-lista img, h3 {
    margin-bottom: 8px;
}

@media (max-width: 800px) {
    .vantagens h2 {
        margin-bottom: 40px;
    }

    .vantagens-lista {
        gap: 20px;
    }
    
}